numpy==1.26.4
scipy==1.12.0
pandas==2.2.1
numba==0.59.1
cupy==13.1.0
matplotlib==3.8.3
seaborn==0.13.2
plotly==5.20.0
altair==5.3.0
scikit-learn==1.4.1.post1
xgboost==2.0.3
lightgbm==4.3.0
tensorflow==2.15.0
keras==2.15.0
torch==2.2.2
transformers==4.40.0
cudatoolkit==11.8.0
cudf==24.2.0
cuml==24.2.0
rmm==24.2.0
ucx==0.35.0
ucx-py==0.35.0
dask==2024.4.1
dask-cuda==24.2.0
nltk==3.8.1
spacy==3.7.4
gensim==4.3.2
pyarrow==15.0.2
fastparquet==2024.2.0
openpyxl==3.1.2
xlrd==2.0.1
xlsxwriter==3.2.0
tqdm==4.66.2
joblib==1.4.0
dill==0.3.8
cloudpickle==3.0.0
mlflow==2.11.3
pytest==8.1.1
papermill==2.5.0
modin==0.28.1
vaex==4.16.1
